/* COLORS OF WEBSITE */
/* FIRST: #b641f2 */
/* SECOND: #07012d */
/* THIRD: #fe81f0 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: "Russo One";
}

html,
body,
#digitalNote,
.bg,
.bg img,
.fields,
.SideNavContainer,
.page,
.TopNav ul,
.TopNav,
.insideArea,
.moreInside,
.oneArea,
.carousel,
.combine,
.buttons {
  width: 100%;
  height: 100%;
}

#digitalNote {
  background: linear-gradient(-85deg, #110757e5, #110757e5, #110757e5);
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.jcac {
  justify-content: center;
  align-items: center;
}

.trans {
  transition: all, 0.4s;
}

.text {
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 15px;
}

.pointer {
  cursor: pointer;
}

.currentDay {
  border: 4px solid #972aceb6 !important;
}

.square {
  width: 45%;
  height: 65%;
  margin: auto;
  background: linear-gradient(45deg, #fe81ef98, #ad45a198, #630f59b2);
  border-radius: 20px;
  padding: 3vmin;
}

.fields {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.titleLogin {
  background: linear-gradient(to top, #ab00ff, #2d18b6d9, #5e46ff9e);
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.562));
}

.fields p {
  font-size: 5vmin;
  font-weight: bold;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
}

.textGradient {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.input-container {
  position: relative;
  width: 80%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 4vmin;
}

.container {
  padding: 2vmin;
  position: relative;
  align-items: center;
}

.rail {
  width: 15%;
  height: 75%;
  position: absolute;
  padding: 3vmin;
}

.line {
  width: 50%;
  align-items: initial !important;
}

.line p {
  height: 10%;
}

.bottom {
  transform: rotate(180deg);
}

.firstColor {
  background: linear-gradient(45deg, #8d44b1, #8d44b1, #8d44b1);
}

.secondColor {
  background: linear-gradient(45deg, #292068, #7e69ff, #292068);
}

.coolSquare {
  width: 70%;
  animation: go 20s linear infinite reverse;
  filter: blur(1.5vmin) opacity(0.3);
  border-radius: 50%;
  
}

@keyframes go {
  0% {
    height: calc(100% / 10);
  }
  0% {
    height: calc(100% / 50);
  }
  0% {
    height: 100%;
  }
}

.rail:first-child {
  left: 1%;
}

.rail:last-child {
  right: 1%;
}

.input-field {
  width: 50%;
  /* height: 45%; */
  height: 100%;
  padding: 10px;
  font-size: 2.5vmin;
  text-align: center;
  background-color: transparent;
  border: 3px solid #8d44b1;
  color: white;
}

.input-field:hover,
.text:hover,
.active,
.choose h5:hover {
  transform: scale(0.95);
  border: 3px solid #d199ec;
  box-shadow: inset 0 0 1vmin white !important;
}

/* .hm button:hover {
  width: 13% !important;
} */

/* .bigger:first-child,
.bigger:last-child {
  width: 23%;
}
.bigger:first-child:hover,
.bigger:last-child:hover {
  width: 23%;
} */

.input-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  font-size: 2.5vmin;
  color: #333;
  letter-spacing: 0.1vw;
  font-weight: bolder;
}

.input-field:focus + .input-label,
 .input-field:valid + .input-label, 
.oneArea:valid + .input-label  
 {
  left: 4%;
  font-size: 3vmin;
  text-shadow: 0 0 1vmin white;
}

.oneArea .input-field:focus + .input-label,
.oneArea .input-field:valid + .input-label  {
  left: 15% !important;
  text-shadow: 0 0 1vmin black;
  color: #d381ffe7;
}

.half {
  height: 50%;
}

.notAllowed {
  box-shadow: inset 0 0 1vmin gray !important;
  pointer-events: none;
}

.input-field:focus {
  width: 45%;
}

.input-field:focus-within {
  outline: 3px solid #c987eb;
}

.doneButton {
  width: 40%;
  height: 15%;
  font-size: 2vmin;
  color: white;
  border: initial;
  background: transparent;
  box-shadow: inset 0 0 1vmin black;
  filter: drop-shadow(0 0 1vmin black);
  color: #d588ff;
  text-transform: uppercase;
  overflow: hidden;
}

.doneButton:hover,
.sideNav ul li:hover {
  font-size: 2.5vmin;
  width: 65%;
  filter: drop-shadow(0 0 1vmin #3e0c57);
}

.doneButton:hover {
  transform: scale(0.95);
}

.doneButton::before {
  content: "";
  position: absolute;
  top: -5%;
  width: 8%;
  height: 150%;
  z-index: -1;

  transform: rotate(30deg);
  animation: move 4s ease infinite;
  transform-origin: top;
  filter: blur(3vmin);
}

@keyframes move {
  0% {
    left: -100%;
    background-color: white;
  }
  100% {
    left: 150%;
    background-color: rgba(255, 255, 255, 0.527);
  }
}

.boat {
  bottom: 20%;
  left: 0;
  opacity: 0.7;
  width: 20vmin !important;
  height: 10vmin !important;
  animation: moveBoat 50s linear infinite;
}

@keyframes moveBoat {
  0% {
    left: 0;
    opacity: 0;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    left: 135vmin;
  }
}

/* SIDENAV */

.SideNavContainer {
  width: 20% !important;
  /* background: linear-gradient(-85deg, #110757e5, #110757e5, #110757e5); */
}

.sideNav {
  width: 80%;
}

.ticketNum {
  font-size: 1vmin;
  padding: 2.5vmin;
  opacity: 0.5;
}

.mainInformation {
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  height: 30%;
  margin: auto;
  justify-content: space-around;
}

.miniSideNav {
  width: 10% !important;
}

.closer {
  width: 3vw;
  font-size: 4vmin;
  background-color: #0a043565;
  box-shadow: 0.5vmin 0 1vmin black;
  color: white;
}

.closer:hover {
  background-color: #0a043528;
}

.Content {
  width: 100%;
}

.sideNav ul {
  background: linear-gradient(45deg, #693285, #3e0c57, #9d4dc5e0);
  height: 100%;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  font-size: 3vmin;
  background-position: -20% -20%, 0 0, 20% 20%;
  background-size: 200% 100%;
  animation: gradientMovement 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.sideNav ul li {
  width: 100% !important;
  height: 15%;
  justify-content: space-evenly;
  color: #ffffffba;
  text-shadow: 0 0 1vmin black;
}

.sideNav ul li:hover {
  background: #2a206879;
}

.addMoreButton {
  width: 45%;
  border-radius: 15px;
  border: 3px solid #5b4ac98a;
  filter: drop-shadow(0 0 1vmin black);
  box-shadow: inset 0 0 1vmin #292068 !important;
}

.TopNav {
  height: fit-content;
}

.TopNav ul {
  justify-content: space-between;
  padding: 2vmin 4vmin;
  list-style: none;
  color: #ffffffba;
}

.less {
  width: 80%;
}

.color {
  letter-spacing: 0.1vw;
  color: #d281ffb2;
}

.center {
  width: 15%;
  justify-content: space-evenly;
}

.ulTop p {
  flex: 0.05;
  text-align: center;
}

#calendar {
  width: 70%;
  background: rgb(41, 41, 41);
  background-image: url("assets/BG.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#calendar,
.topTop,
.theGather,
.fullWidth,
.dialog {
  width: 100%;
  height: 100%;
}

.dialog {
  background: rgba(255, 255, 255, 0.527);
  width: 50%;
  height: 60%;
  border: 3px solid white;
  z-index: 1;
}

.clientForm {
  height: 55%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.oneArea {
  justify-content: space-around;
  flex-direction: column;
}

.calendar {
  width: 55%;
  height: 70%;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 2vmin black;
}

.dates h2 {
  color: lightblue;
}

.shrink {
  background: linear-gradient(#0a111abf, #d9e4ff, #90abdd);
  font-size: 1.2vmin !important;
}

.green {
  background: rgba(0, 128, 0, 0.486);
  filter: blur(1vmin);
}

.squareMove {
  position: absolute;
  bottom: 0;
  width: 16vmin;
  height: 4vmin;
}

.gray {
  color: gray !important;
  pointer-events: none;
}

.calendar,
.calendar p {
  justify-content: center;
}

.topTitle {
  background-color: #1e1464ad;
  height: 15%;
  grid-template-columns: repeat(3, 1fr);
}

.dates {
  height: 85%;
  grid-template-columns: repeat(7, 1fr);
  background: linear-gradient(0deg, #4d116991, #92559b46) !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dates p {
  border: 0.5px solid rgba(124, 123, 123, 0.356);
  height: 100%;
  font-size: 2vmin;
  font-weight: 800;
  color: black;
  user-select: none;
}

.dates p:not(.gradientText):hover {
  background: rgba(138, 143, 145, 0.13);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5vmin;
  background: linear-gradient(#e7efff, #d5a0f0);
  letter-spacing: 0.1vw;
  padding: 2vmin;
  filter: drop-shadow(0 0 1vmin black);
}

.gradientText {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.grid {
  display: grid;
}

.arrow {
  /* width: 25%; */
  height: 100%;
  font-size: 3vmin;
  background: transparent;
  border: initial;
  color: white;
}

.arrow:hover {
  background: rgba(173, 216, 230, 0.103);
}

.calendar p {
  height: 100%;
  text-transform: uppercase;
  align-items: center;
  color: white;
}

.translow {
  transition: all, 0.1s;
}

@keyframes gradientMovement {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  25% {
    background-position: 50% 100%, 0 0, 100% 0;
  }
  50% {
    background-position: 100% 0, 100% 0, 100% 0;
  }
  75% {
    background-position: 0 0, 100% 0, 100% 100%;
  }
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}

.desc {
  font-size: 2.5vmin;
  letter-spacing: 0.1vw;
  color: rgba(255, 255, 255, 0.651);
  text-shadow: 0 0 .5vmin black;
}

.moreInside {
  width: 30%;
  height: 90%;
}

.datesToday {
  line-height: 6vmin;
  border-radius: 36px;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}

.moreInside p:first-child {
  color: white;
  background: linear-gradient(to bottom, #ca97e4, #5e3075);
  text-align: center;
  font-size: 2.5vmin;
  border-radius: 15px;
}

.insideArea {
  justify-content: space-around;
  background: #0000002b;
  padding: 2vmin;
  height: 95%;
}

.clientTicket {
  width: 80%;
  height: 85%;
}

.bg {
  background: #44277285;
  border-radius: 15px;
}

.bigger {
  width: 25% !important;
  height: 45% !important;
}

.smaller {
  width: 13%;
  height: 30%;
  font-size: 2.5vmin;
}

.bigger,
.smaller {
  border-radius: 25px;
}

.bigger:hover,
.smaller:hover {
  filter: drop-shadow(0 0 1vmin white);
}

.more {
  width: 20%;
}

.s {
  flex-direction: column;
  justify-content: space-evenly;
}

.p {
  font-size: 4vmin;
  background: linear-gradient(to top, #fff, #8331ab, #f500f5);
  background-clip: border-box;
  background-position: -20% -20%, 0 0, 20% 20%;
  background-size: 200% 100%;
  animation: gradientMovement 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  filter: drop-shadow(0 0 1vmin rgba(0, 0, 0, 0.637));
}

.bShadow {
  box-shadow: 0 0 1vmin #000000d1;
}

.choose h5 {
  width: calc(100% / 3);
  text-align: center;
  padding: 2vmin;
  font-size: 1.7vmin;
  border-radius: 15px;
  border: 5px solid #332164;
  border-top: initial;
  user-select: none;
}

.inputSpecial {
  color: #d381ff7c;
}

.circles {
  position: relative;
  font-size: 3vmin;
  gap: 3vmin;
  width: 40vmin;
  margin: auto;
  box-shadow: 0 0 1vmin black;
  overflow: hidden;
  border-radius: 25px;
}

.special {
  height: fit-content;
  background: linear-gradient(#823eaa52, #42006a52);
}

.mCircle {
  opacity: 0;
}

.buttons {
  width: 80%;
}

.carousel {
  height: 100%;
}

/* PHONE */

@media screen and (max-width: 900px) {
  form {
    width: 80% !important;
  }
  .input-label,
  .input-field {
    font-size: 3.5vmin;
  }
  .doneButton {
    font-size: 2.5vmin;
  }
  .doneButton:hover {
    font-size: 3.5vmin;
  }
}
